{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>title</title>
    <link rel="stylesheet" href="{% static "css/css-exercise.css"%}" type="text/css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500"
    />
  </head>
  <body>
    <div class="list-wrapper">
      <div class="list-item-wrapper">
        <div class="list-bullet bg-green">1</div>
        <div class="list-line"></div>
        <div class="list-item">
          <div class="list-item-content">
            <span class="list-item-date">
              05/06/2016
            </span>
            <div class="list-heading-text-wrapper">
              <p class="list-item-header"><a href="/">Link to</a> item one</p>
              <div class="list-item-text">
                Beef ribs shoulder bresaola hamburger brisket filet mignon
                turkey kevin frankfurter andouille spare ribs shankle chicken
                swine ham hock. Ham pork belly alcatra venison
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-item-wrapper">
        <div class="list-bullet bg-orange">2</div>
        <div class="list-line"></div>
        <div class="list-item">
          <div class="list-item-content">
            <span class="list-item-date">
              05/05/2016
            </span>
            <div class="list-heading-text-wrapper">
              <p class="list-item-header">
                Item two has a bit of a longer title.
              </p>
              <div class="list-item-text">
                Bacon ipsum dolor amet venison bresaola kevin chuck. Pig turkey
                alcatra beef ribs salami pork
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-item-wrapper">
        <div class="list-bullet bg-red">3</div>
        <div class="list-item">
          <div class="list-item-content">
            <span class="list-item-date">
              06/15/2016
            </span>
            <div class="list-heading-text-wrapper">
              <p class="list-item-header">
                <a href="/">Item three </a>has an insanely long title that needs
                to wrap properly as the screen gets smaller
              </p>
              <div class="list-item-text">
                Turducken chuck shoulder, landjaeger brisket shank tri-tip
                capicola kielbasa jerky alcatra drumstick pork belly filet
                mignon
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
