body {
  font-family: "Montserrat", serif;
  font-size: 14px;
}
a:link {
  text-decoration: none;
}
.list-wrapper {
  position: relative;
}
.list-item-wrapper {
  margin-bottom: 5px;
  position: relative;
}
.list-bullet {
  float: left;
  margin-right: 20px;
  background: #ff4949;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 3px;
  font-weight: 500;
  color: white;
  text-align: center;
}
.list-line {
  z-index: -1;
  width: 2px;
  height: calc(100% - 30px);
  position: absolute;
  top: 32px;
  left: 15px;
  background: #dee0e3;
}
.list-item {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 100px);
}
.list-item-header {
  text-align: left;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 500;
}
.list-heading-text-wrapper {
  width: 80%;
}
.list-item-date {
  float: right;
  height: 100%;
  font-weight: 300;
  margin-bottom: 5px;
  font-size: 12px;
}
.list-item-content {
  border: 1px solid #ecf0f0;
  padding: 16px;
  margin-bottom: 25px;
  border-radius: 2px;
  width: 100%;
}
.list-item-text {
  font-weight: 300;
  font-size: 12px;
  color: #a7adb4;
}
.bg-green {
  background: #26b894;
}
.bg-orange {
  background: #f29c1e;
}
.bg-red {
  background: #e54c3b;
}

@media only screen and (max-width: 768px) {
  .list-item-header,
  .list-heading-text-wrapper,
  .list-item-date {
    text-align: left;
    width: 100%;
  }
}
